body {
  font-family: sans-serif;
  background-color: rgb(219, 186, 88);
}

a {
  text-decoration: none;
  color: rgb(75, 118, 65);
  font-weight: bold;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  display: flex;
  background-color: rgb(245, 242, 242);
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.form {
  background-color: rgb(75, 118, 65);
  padding: 5em;
  color: white;
  position: absolute;
  border-radius: 10px;
  font-weight: bold;
}

.googlebutton {
  color: white;
  padding: 1em;
  font-size: large;
}

.loginAndSignUpImage {
  max-width: 50%;
  height: auto;
  float: right;
  padding-right: 8em;
}

.submit {
  width: 70px;
  height: 30px;
  font-weight: bold;
  color: rgb(75, 118, 65);
}
