body {
  font-family: sans-serif;
  background-color: rgb(219, 186, 88);
}

a {
  text-decoration: none;
  color: rgb(75, 118, 65);
  font-weight: bold;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  display: flex;
  background-color: rgb(245, 242, 242);
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.logo {
  display: flex;
  align-items: center;
}
